body{
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.header-text {
    font-size: 24px;
    font-weight: bold;
}
.header-image {
    height: 300px;
}

.header-image2 {
    height: 300px;
}

p{
    color: aliceblue;
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer a {
    color: #ddd;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
}
.logo {
    width: 100px;
    height: 50px;
}
.body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 21px 24px;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  li a:hover {
    background-color: #919191;
    color: #000;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
}